/* :root {
	--primary: hsl(0, 52%, 40%);
	--accent: hsl(0, 52%, 30%);
	--bg: hsl(0, 52%, 20%);
	--primary-bg: hsl(0, 0%, 89%);
	--secondary-bg: hsl(0, 0%, 94%);
} */

/* TODO(N3tt): Make the colors fit together xd */
:root {
	--primary-blue: #0E1577;
	--primary-lighter: #1723cb;

	--secondary-blue: #000249;
	--secondary-lightert: #0004b6;

	--primary-orange: #FC6718;

	--secondary-orange: #FF8239;

	--primary-bg: hsl(0, 0%, 89%);
	--secondary-bg: hsl(0, 0%, 94%);
}

body * {
	font-family: 'Open Sans', sans-serif !important;
}

.top-bar * {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: bold;
}

.custom-card .main-text,
.hover-text {
	overflow: hidden;
	transition: 300ms ease;
	display: inline-block;
	position: absolute;
}

.custom-card .main-text {
	visibility: visible;
	opacity: 1;
}

.custom-card .hover-text {
	width: 15rem;
	word-break: break-word;
	visibility: hidden;
	opacity: 0;
}

.custom-card:hover .hover-text {
	opacity: 1;
	visibility: visible;
	width: 15rem;
	word-break: break-word;
}

.custom-card:hover .main-text {
	visibility: hidden;
	opacity: 0;
}

.container {
	padding-top: 2rem;
}

.localeSelector {
	background-color: var(--primary-blue);
	border: 1px solid var(--secondary-blue);
	color: white;
}

.localeSelector option {
	background-color: var(--primary-blue);
	border: 1px solid var(--secondary-blue);
}

.localeSelector:active,
option:active {
	background-color: var(--primary-blue);
	border: 1px solid var(--secondary-blue);
}

.localeSelector:focus,
option:focus {
	background-color: var(--primary-blue);
	border: 1px solid var(--secondary-blue);
}

.custom-card {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--primary-bg);
	height: 6rem;
}

.card-icon {
	/* this is to make the exact color as is --secondary-orange but has to be done this way because SVG is cool and fun */
	filter: invert(63%) sepia(93%) saturate(2981%) hue-rotate(337deg) brightness(111%) contrast(101%);
	width: 64px;
	height: 64px;
}

.banner {
	background-color: var(--primary-bg);
}

.card-section {
	overflow: auto;
	white-space: pre-wrap;
}

.question-ta {
	width: 100%;
	height: 5rem;
}

.accent {
	background-color: var(--primary-blue);
}

.accent:hover {
	background-color: var(--primary-lighter);
}

div.top-bar,
ul.menu {
	background-color: var(--secondary-blue);
	color: white;
}

div.top-bar ul.menu a {
	color: white;
}

body {
	background-color: var(--secondary-bg);
	background-size: 128px 128px;
}

.qCard-footer {
	font-size: 0.8rem;
	color: #aaa;
}

.qCard-answer {
	padding-left: 5rem;
}

.qCard-answer pre {
	border: 1px solid var(--secondary-bg);
	padding: 1rem;
}

.answerAuthor {
	font-size: smaller;
}

.notAnswered {
	color: red;
	text-decoration: underline;
}

.logo_image {
	width: 2.5rem;
	height: 2.5rem;
}

.orange-background {
	background-color: var(--primary-orange);
}

.orange-background-secondary {
	background-color: var(--secondary-orange);
}

.blue-background {
	background-color: var(--primary-blue);
}

.white-text {
	color: white;
}

.orange-text {
	color: var(--primary-orange);
}

.blue-text {
	color: var(--primary-blue);
}

.qCard-question-section {
	background-color: var(--primary-orange);
	color: white;
}

.qCard-answer-section {
	background-color: var(--primary-blue);
	color: white;
}

.answer-pre {
	margin-left: 2.5rem;
}

.legal_design > h5, .legal_design > h3 {
	color: var(--primary-blue);
}

.error-message {
	font-weight: bold;
	font-size: 10rem;
}