:root {
    --primary: hsl(0, 52%, 40%);
    --accent: hsl(0, 52%, 30%);
    --bg: hsl(0, 52%, 20%);
    --primary-bg: hsl(0, 0%, 89%);
    --secondary-bg: hsl(0, 0%, 94%);
}

.container {
    padding-top: 2rem;
}

.localeSelector {
    background-color: var(--primary);
    border: 1px solid var(--accent);
}

.localeSelector option {
    background-color: var(--primary);
    border: 1px solid var(--accent);
}

.localeSelector:active, option:active {
    background-color: var(--primary);
    border: 1px solid var(--accent);
}

.localeSelector:focus, option:focus {
    background-color: var(--primary);
    border: 1px solid var(--accent);
}


.custom-card {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--primary-bg);
}

.card-icon {
    filter: invert(22%) sepia(20%) saturate(4159%) hue-rotate(330deg) brightness(108%) contrast(91%);
    width: 64px;
    height: 64px;
}

.banner {
    background-color: var(--primary-bg);
}

.card-section  {
    overflow: auto;
    white-space: pre-wrap;
}

.question-ta {
    width: 100%;
    height: 5rem;
}

.accent {
    background-color: var(--primary);
}

.accent:hover {
    background-color: var(--bg);
}


div.top-bar, ul.menu {
    background-color: var(--accent);
    color: white;
}

div.top-bar ul.menu a {
    color: white;
}

body {
    /* background-image: url("../../static/background-tile.png"); */
    background-color: var(--secondary-bg);
    background-size: 128px 128px;
}