:root {
	--primary: hsl(0, 52%, 40%);
	--accent: hsl(0, 52%, 30%);
	--bg: hsl(0, 52%, 20%);
	--primary-bg: hsl(0, 0%, 89%);
	--secondary-bg: hsl(0, 0%, 94%);
}

.custom-card .main-text,
.hover-text {
	overflow: hidden;
	transition: 300ms ease;
	display: inline-block;
	position: absolute;
}

.custom-card .main-text {
	visibility: visible;
	opacity: 1;
}

.custom-card .hover-text {
	width: 15rem;
	word-break: break-word;
	visibility: hidden;
	opacity: 0;
}

.custom-card:hover .hover-text {
	opacity: 1;
	visibility: visible;
	width: 15rem;
	word-break: break-word;
}

.custom-card:hover .main-text {
	visibility: hidden;
	opacity: 0;
}

.container {
	padding-top: 2rem;
}

.localeSelector {
	background-color: var(--primary);
	border: 1px solid var(--accent);
}

.localeSelector option {
	background-color: var(--primary);
	border: 1px solid var(--accent);
}

.localeSelector:active,
option:active {
	background-color: var(--primary);
	border: 1px solid var(--accent);
}

.localeSelector:focus,
option:focus {
	background-color: var(--primary);
	border: 1px solid var(--accent);
}

.custom-card {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--primary-bg);
	height: 6rem;
}

.card-icon {
	filter: invert(22%) sepia(20%) saturate(4159%) hue-rotate(330deg) brightness(108%) contrast(91%);
	width: 64px;
	height: 64px;
}

.banner {
	background-color: var(--primary-bg);
}

.card-section {
	overflow: auto;
	white-space: pre-wrap;
}

.question-ta {
	width: 100%;
	height: 5rem;
}

.accent {
	background-color: var(--primary);
}

.accent:hover {
	background-color: var(--bg);
}

div.top-bar,
ul.menu {
	background-color: var(--accent);
	color: white;
}

div.top-bar ul.menu a {
	color: white;
}

body {
	/* background-image: url("../../static/background-tile.png"); */
	background-color: var(--secondary-bg);
	background-size: 128px 128px;
}

.qCard-footer {
	font-size: 0.8rem;
	color: #aaa;
}

.qCard-answer {
	padding-left: 5rem;
}

.qCard-answer pre {
	border: 1px solid var(--secondary-bg);
	padding: 1rem;
}

.answerAuthor {
	font-size: smaller;
}

.notAnswered {
	color: red;
	text-decoration: underline;
}
